.header {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid var(--primary);
  background-color: var(--surface100);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;

  & > div > h1 {
    color: var(--primary);
  }
}