html, body {
  min-width: 100%;
  min-height: 100vh;

  font-size: 16px;
  color: var(--color100);
  background-color: var(--surface100);

  -webkit-text-size-adjust : none;
  -ms-text-size-adjust : none;
  -moz-text-size-adjust : none;
  text-size-adjust : none;
}

#root {
  width: 100%;
  height: fit-content;
  padding-bottom: 48px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

body {
  scrollbar-width: thin;
}

:root {
  --color100: #F0F7FF;
  --color200: #B0B8C4;
  --color300: #6b7a90;
  --color400: #1c2025;

  --surface100: #141a1f;
  --surface200: #1a1f25;

  --primary: #ffb74d;
  --primary-d: #b28035;
  --primary-l: #ffc570;
}